<div class="col-md-6">
    <h2> Iniciar sesión </h2>
  </div>

<form>
    <div class="form-group">
        <label class=" control-label col-md-12">Nombre de usuario</label>
        <div class="col-md-4">
          <input [(ngModel)]="user.username" name="username" class="form-control" type="text" autocomplete="off">
        </div>
      </div>
    
      <div class="form-group">
        <label class=" control-label col-md-12">Contraseña</label>
        <div class="col-md-4">
          <input [(ngModel)]="user.password" name="password" class="form-control" type="password" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <br>
          <button class="btn btn-default" (click)="login()">Iniciar sesión</button>
          <button class="btn btn-default" routerLink="/home">Cancel</button>
        </div>
      </div>
</form>
