<div class="custom-toolbar">
  <img id="ucrImage" src="./assets/ucr.png" style="border: 0; float: left; margin-right: 15px" />
  <span class="mail-box">Iniciar sesión</span>
</div>

<!-- <div class="col-md-6">
    <h2> Iniciar sesión </h2>
  </div> -->

<form>
  <div class="form-group" id="formLogin">
    <div class="form-group">
      <label class=" control-label col-md-12">Nombre de usuario</label>
      <input [(ngModel)]="user.username" name="username" class="form-control" type="text" autocomplete="off" size="10">

    </div>
    <div class="form-group">
      <label class=" control-label col-md-12">Contraseña</label>

      <input [(ngModel)]="user.password" name="password" class="form-control" type="password" autocomplete="off" size="10">
    </div>
    <div class="col-md-12">
      <br>
      <button class="btn btn-default" id="btnInicioSesion" (click)="login()">Iniciar sesión</button>
      <button class="btn btn-default" id="btnHome" routerLink="/home">Cancel</button>
    </div>
  </div>
</form>