<div class="custom-toolbar">
  <img id="ucrImage" src="./assets/ucr.png" style="border: 0; float: left; margin-right: 15px" />
  <span class="mail-box">Informática Empresarial</span>
</div>

<!-- <div class="col-md-6">
    <h2> Iniciar sesión </h2>
  </div> -->

  <!-- (ngSubmit)="addCourse()" -->
  <form [formGroup]="loginForm"  #formDir="ngForm" id="formLogin">
  <div class="form-group">
    <div class="form-group">
      <label class=" control-label col-md-12">Nombre de usuario</label>
      <input [(ngModel)]="user.username" name="username" class="form-control" type="text" autocomplete="off" size="10" formControlName="username">
      <span class="text-danger" *ngIf="loginForm.hasError('required', 'username') && formDir.submitted">
        Ingrese su nombre de usuario.
      </span>
    </div>
    <div class="form-group">
      <label class=" control-label col-md-12">Contraseña</label>

      <input [(ngModel)]="user.password" name="password" class="form-control" type="password" autocomplete="off" size="10" formControlName="password">
      <span class="text-danger" *ngIf="loginForm.hasError('required', 'password') && formDir.submitted">
        Ingrese su contraseña.
        <br>
      </span>
      
      <button class="btn btn-default" id="btnInicioSesion" (click)="login()">Iniciar sesión</button>
      <button class="btn btn-default" id="btnHome" routerLink="/home">Cancelar</button>
    </div>
  </div>
</form>