<div class="col-md-6">
  <h2> Registrar estudiante </h2>
</div>
<form>

  <div class="form-group">
    <label class=" control-label col-md-12">Carné</label>
    <div class="col-md-4">
      <input class="form-control" type="text" autocomplete="off">
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Nombre</label>
    <div class="col-md-4">
      <input class="form-control" type="text" autocomplete="off">
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Apellidos</label>
    <div class="col-md-4">
      <input class="form-control" type="text" autocomplete="off">
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Fecha de Nacimiento</label>
    <div class="col-md-4">
      <kendo-datepicker [(value)]="value"></kendo-datepicker>
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Correo eléctronico</label>
    <div class="col-md-4">
      <input class="form-control" type="text" autocomplete="off">
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Nombre de usuario</label>
    <div class="col-md-4">
      <input class="form-control" type="text" autocomplete="off">
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Contraseña</label>
    <div class="col-md-4">
      <input class="form-control" type="password" autocomplete="off">
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Provincia</label>
    <div class="col-md-4">
      <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Cantón</label>
    <div class="col-md-4">
      <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
    </div>
  </div>

  <div class="form-group">
    <label class=" control-label col-md-12">Distrito</label>
    <div class="col-md-4">
      <kendo-dropdownlist [data]="listItems"></kendo-dropdownlist>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <br>
      <button class="btn btn-default" (click)="addStudent()">Save</button>
      <button class="btn btn-default" routerLink="/home">Cancel</button>
    </div>
  </div>
</form>