table {
    width: 90%;
    margin:1rem auto;
  }

  .custom-toolbar {
    width: 100%;
    background-color:#a9cce3;
    line-height: 50px;
    border-bottom: inset;
    /* border-bottom-width: 1px; */
    padding: 3px 8px;
    color: #000000;
    ;
}


#btnAddProfessor, #btnAddCourse, #btnAddNews  {
  color : rgb(0, 0, 0);
  background-color:#a9cce3;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 10px;
}

#btnAddProfessor:not([disabled]):hover, #btnAddCourse:not([disabled]):hover, #btnAddNews:not([disabled]):hover {
  background-color: rgba(31, 60, 100, 0.96);
  color: white;
}

#btnAddProfessor[disabled], #btnAddCourse[disabled], #btnAddNews[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}


