<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="custom-toolbar">
    <img id="ucrImage" src="./assets/ucr.png" style="border: 0; float: left; margin-right: 15px" />
    <span class="mail-box">Bienvenido administrador/a</span>
    <button class="pull-right" mat-raised-button id="btnAddNews" routerLink="/home">Salir</button>
    <button class="pull-right" mat-raised-button id="btnAddCourse" (click)="addCourse()">Registrar curso</button>
    <button class="pull-right" mat-raised-button id="btnAddProfessor" (click)="addProfessor()">Registrar profesor</button>
    <button class="pull-right" mat-raised-button id="btnAddNews" (click)="addNews()">Registrar noticia</button>
    <button class="pull-right" mat-raised-button id="btnAddNews" (click)="addProfessorCourse()">Inscribir curso</button>

</div>
<h4>Estudiantes por aprobar</h4>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourcestudentsApproval">
        <ng-container matColumnDef="student_card">
            <th mat-header-cell *matHeaderCellDef> Carné </th>
            <td mat-cell *matCellDef="let student"> {{student.student_card}} </td>
        </ng-container>

        <ng-container matColumnDef="student_name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let student"> {{student.student_name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let student"> {{student.last_name}} </td>
        </ng-container>

        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let student"> {{student.mail}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let student">
                <button mat-icon-button (click)="approveStudent(student.id)">
                    <mat-icon [ngStyle]="{'color':'lightgreen'}">done</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="denyStudent(student.id)">
                    <mat-icon [ngStyle]="{'color':'red'}">clear</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="studentApprovalColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: studentApprovalColumns;"></tr>

    </table>
    <mat-paginator #firstTable [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<h4>Estudiantes registrados</h4>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceStudents">
        <ng-container matColumnDef="studentCard">
            <th mat-header-cell *matHeaderCellDef> Carné </th>
            <td mat-cell *matCellDef="let student"> {{student.studentCard}} </td>
        </ng-container>

        <ng-container matColumnDef="studentName">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let student"> {{student.studentName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let student"> {{student.mail}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let student"> {{student.status}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let student">
                <button mat-icon-button (click)="editStudent(student.id)">
                    <mat-icon [ngStyle]="{'color':'lightgreen'}">create</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteStudent(student.id)">
                    <mat-icon [ngStyle]="{'color':'red'}">delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="studentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: studentColumns;"></tr>

    </table>
    <mat-paginator #fourthTable [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<h4>Profesores registrados</h4>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceProfessors">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let professor"> {{professor.name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let professor"> {{professor.last_name}} </td>
        </ng-container>

        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let professor"> {{professor.mail}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let professor">
                <button mat-icon-button (click)="editProfessor(professor.id)">
                    <mat-icon [ngStyle]="{'color':'lightgreen'}">create</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteProfessor(professor.id)">
                    <mat-icon [ngStyle]="{'color':'red'}">delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="professorColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: professorColumns;"></tr>

    </table>
    <mat-paginator #secondTable [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<h4>Cursos registrados</h4>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceCourses">

        <ng-container matColumnDef="initials">
            <th mat-header-cell *matHeaderCellDef> Iniciales </th>
            <td mat-cell *matCellDef="let course"> {{course.initials}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let course"> {{course.name}} </td>
        </ng-container>

        <ng-container matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let course"> {{course.is_active}} </td>
        </ng-container>

        <ng-container matColumnDef="credits">
            <th mat-header-cell *matHeaderCellDef> Créditos </th>
            <td mat-cell *matCellDef="let course"> {{course.credits}} </td>
        </ng-container>

        <ng-container matColumnDef="cycle">
            <th mat-header-cell *matHeaderCellDef> Ciclo </th>
            <td mat-cell *matCellDef="let course"> {{course.cycle}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let course">
                <button mat-icon-button (click)="editCourse(course.id)">
                    <mat-icon [ngStyle]="{'color':'lightgreen'}">create</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteCourse(course.id)">
                    <mat-icon [ngStyle]=" {'color':'red'}">delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="courseColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: courseColumns;"></tr>

    </table>
    <mat-paginator #thirdTable [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<h4>Noticias</h4>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceNews">

        <ng-container matColumnDef="dateTime">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let news"> {{news.dateTime}} </td>
        </ng-container>

        <ng-container matColumnDef="authorName">
            <th mat-header-cell *matHeaderCellDef> Autor </th>
            <td mat-cell *matCellDef="let news"> {{news.authorName}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let news"> {{news.title}} </td>
        </ng-container>

        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Noticia </th>
            <td mat-cell *matCellDef="let news"> {{ news.text }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let news">
                <button mat-icon-button (click)="editNews(news.id)">
                    <mat-icon [ngStyle]="{'color':'lightgreen'}">create</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteNews(news.id)">
                    <mat-icon [ngStyle]=" {'color':'red'}">delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="newsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: newsColumns;"></tr>

    </table>
    <mat-paginator #fifthTable [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<h4>Comentarios</h4>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceComments">

        <ng-container matColumnDef="dateTime">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let comments"> {{comments.dateTime}} </td>
        </ng-container>

        <ng-container matColumnDef="authorName">
            <th mat-header-cell *matHeaderCellDef> Autor </th>
            <td mat-cell *matCellDef="let comments"> {{comments.authorName}} </td>
        </ng-container>

        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Comentario </th>
            <td mat-cell *matCellDef="let comments"> {{comments.text}} </td>
        </ng-container>

        <ng-container matColumnDef="newsName">
            <th mat-header-cell *matHeaderCellDef> Noticia </th>
            <td mat-cell *matCellDef="let comments"> {{newsName}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let comments">
                <button mat-icon-button (click)="deleteComment(comments.id)">
                    <mat-icon [ngStyle]=" {'color':'red'}">delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="commentsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: commentsColumns;"></tr>

    </table>
    <mat-paginator #sixthTable [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>