<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h4>Estudiantes por aprobar</h4>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourcestudentsApproval">
        <ng-container matColumnDef="student_card">
            <th mat-header-cell *matHeaderCellDef> Carné </th>
            <td mat-cell *matCellDef="let student"> {{student.student_card}} </td>
        </ng-container>

        <ng-container matColumnDef="student_name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let student"> {{student.student_name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let student"> {{student.last_name}} </td>
        </ng-container>

        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let student"> {{student.mail}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let student">
                <button mat-icon-button (click)="approveStudent(student.id)">
                    <mat-icon [ngStyle]="{'color':'lightgreen'}">create</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="denyStudent(student.id)">
                    <mat-icon [ngStyle]="{'color':'red'}">delete_outline</mat-icon>
                </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="studentApprovalColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: studentApprovalColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<h4>Profesores registrados</h4>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceProfessors">
    

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let professor"> {{professor.name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let professor"> {{professor.last_name}} </td>
        </ng-container>

        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let professor"> {{professor.mail}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let professor">
                <a [routerLink]=""> Editar |</a>
                <a [routerLink]=""(click)="deleteProfessor(professor.id)"> Borrar </a>

                
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="professorColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: professorColumns;"></tr>
        
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<h4>Comentarios</h4>
<kendo-grid [kendoGridBinding]="gridComments" 
              [filterable]="true" 
              [groupable]="true" 
              [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" 
            [pageSize]="10" 
            [pageable]="true" 
            [height]="510">
    <kendo-grid-column field="dateTime" title="Fecha" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="authorName" title="Autor" [width]="140"></kendo-grid-column>
    <kendo-grid-column field="text" title="Comentario" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="newsName" title="Título Noticia" [width]="100">
        <ng-template kendoGridCellTemplate>
            <p>{{ newsName }}</p>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Acciones" [width]="100">
        <ng-template kendoGridCellTemplate>
            <a [routerLink]=""> Borrar </a>
        </ng-template>
    </kendo-grid-column>
  </kendo-grid>

<h4>Noticias</h4>
<kendo-grid [kendoGridBinding]="gridNews" 
              [filterable]="true" 
              [groupable]="true" 
              [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
                }" 
            [pageSize]="10" 
            [pageable]="true" 
            [height]="510">
    <kendo-grid-column field="dateTime" title="Fecha" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="authorName" title="Autor" [width]="140"></kendo-grid-column>
    <kendo-grid-column field="title" title="Título Noticia" [width]="120"></kendo-grid-column>
    <kendo-grid-column title="Acciones" [width]="100">
        <ng-template kendoGridCellTemplate>
            <a [routerLink]=""> Editar |</a>
            <a [routerLink]=""> Borrar </a>
        </ng-template>
    </kendo-grid-column>
  </kendo-grid>



