<div class="custom-toolbar">
    <img id="ucrImage" src="./assets/ucr.png" style="border: 0; float: left; margin-right: 15px" />
    <span class="mail-box">Nueva noticia</span>
  </div>
  
  <div class="container">
  <div class="col-md-6">
  </div>
  <form>
    <div class=class id="formNews">
      <div class="form-group">
        <label class=" control-label col-md-12">Autor</label>
          <input class="form-control" type="text" autocomplete="off" [(ngModel)]="newsData.authorName" name="authorName">
        </div>
  
      <div class="form-group">
        <label class=" control-label col-md-12">Título</label>
          <input class="form-control" type="text" autocomplete="off" [(ngModel)]="newsData.title" name="title">
      </div>
  
      <div class="form-group">
        <label class=" control-label col-md-12">Noticia</label>
          <input class="form-control" type="text" autocomplete="off" [(ngModel)]="newsData.text" name="text">
      </div>
  
      <div class="form-group">
        <label class=" control-label col-md-12">Fecha</label>
          <kendo-datepicker [(value)]="value" [format]="'yyyy-MM-dd'"></kendo-datepicker>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <br>
        <button mat-button id="btnAddNews" (click)="addNews()">Agregar</button>
        <button mat-raised-button id="btnCancel" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
  </div>
