#btnAddCourse, #btnHome {
    color : rgb(0, 0, 0);
    background-color:#a9cce3;
    /*border-radius: 10px 0 0 10px; */
    font-size: 16px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 10px;
  }
  
  #btnAddCourse:not([disabled]):hover, #btnHome:not([disabled]):hover {
    background-color: rgba(31, 60, 100, 0.96);
    color: white;
   /* color: rgb(0, 0, 0); */
  }
  
  #btnAddCourse[disabled], #btnHome[disabled] {
    color : rgb(187, 187, 187);
    background-color: rgba(230, 230, 229, 0.96);
  }

  #formCourse{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  #title{
    color: rgba(111, 147, 194, 0.96);
    margin-bottom: 25px;
  }


  .custom-toolbar {
    width: 100%;
    background-color:#a9cce3;
    line-height: 50px;
    border-bottom: inset;
    
    padding: 3px 8px;
    color: #000000;
}
