<div class="custom-toolbar">
    <img id="ucrImage" src="./assets/ucr.png" style="border: 0; float: left; margin-right: 15px" />
    <span class="mail-box">Bienvenidos al portal de la Universidad de Costa Rica </span>
    <button class="pull-right" mat-raised-button id="btnUser" type="submit" (click)="registerStudent()">Registrarse</button>
    <button class="pull-right" mat-raised-button id="btnLogin" type="submit" (click)="login()">Iniciar sesión</button>
    <!-- <button kendoButton [icon]="'user'" [look]="'outline'" (click)="registerStudent()">Registrarse</button>
    <button kendoButton [icon]="'login'" [look]="'outline'" (click)="login()">Iniciar sesión</button> -->
</div>



<!-- Carrusel -->
<kendo-scrollview #sv [data]="items" [width]="width" [height]="height" [animate]="true" [arrows]="true"
    [pageable]="true" [endless]="true">
    <ng-template let-item="item">
        <img src='{{item.url}}' alt='{{item.title}}' [ngStyle]="{minWidth: width}" draggable="false" />
    </ng-template>
</kendo-scrollview>