.custom-toolbar {
    width: 200%;
    background-color:#a9cce3;
    line-height: 50px;
    border-bottom: inset;
    /* border-bottom-width: 1px; */
    padding: 3px 8px;
    color: #000000;
}


#btnUser {
    color : rgb(0, 0, 0);
    background-color: #a9cce3;
    border-radius: 10px 0 0 10px;
    height: 35px;
    width: 100px;
    font-size: 12px;
    border: 2px solid rgb(110, 126, 170) !important;
  }
  
  #btnUser:not([disabled]):hover {
    background-color:rgb(110, 126, 170);
    color: cornsilk;
   /* color: rgb(0, 0, 0); */
  }
  
  #btnUser[disabled] {
    color : rgb(187, 187, 187);
    background-color: rgba(230, 230, 229, 0.96);
  }

  #btnLogin {
    color : rgb(0, 0, 0);
    background-color: #a9cce3;
    border-radius: 10px 0 0 10px;
    height: 35px;
    width: 100px;
    font-size: 12px;
    border: 2px solid rgb(110, 126, 170) !important;
    margin-left: 5px;
  }
  
  #btnLogin:not([disabled]):hover {
    background-color:rgb(110, 126, 170);
    color: cornsilk;
  }
  
  #btnLogin[disabled] {
    color : rgb(187, 187, 187);
    background-color: rgba(230, 230, 229, 0.96);
  } 